@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --primary: hsl(172, 67%, 45%);
  --bg: hsla(185, 41%, 84%, 1);
  --very-dark-gray-cyan: hsl(183, 100%, 15%);
  --dark-gray-cyan: hsl(186, 14%, 43%);
  --light-gray-cyan: hsl(184, 14%, 56%);
  --very-light-gray-cyan: hsl(189, 41%, 97%);
  --heading: hsla(180, 25%, 32%, 1);
  --white: hsl(0, 0%, 100%);

  --ff: "Space Mono", monospace;
  --fw: 700;
  --fz: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: var(--heading);
  margin-top: 163px;
  letter-spacing: 5px;
}

h1 span {
  display: block;
}

h2 {
  font-size: 16px;
  line-height: 23.7px;
  color: var(--dark-gray-cyan);
  margin-bottom: 6px;
}

.container {
  width: 904px;
  height: 481px;
  background-color: var(--white);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  padding: 32px;
  margin-top: 87.86px;
  display: flex;
  gap: 48px;
}

.output {
  background-color: var(--very-dark-gray-cyan);
  width: 413px;
  height: 417px;
  border-radius: 15px;
}

.input {
  width: 379px;
  height: 388px;
}

.bill-amount-input {
  background-color: var(--very-light-gray-cyan);
  border-radius: 5px;
  width: 379px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.bill-amount-input img {
  width: 9.84px;
  height: 15.46px;
}

.bill-amount-input input {
  border: none;
  outline: none;
  color: var(--very-dark-gray-cyan);
  background-color: var(--very-light-gray-cyan);
  text-align: right;
  line-height: 35.54px;
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: var(--fz);
}

#reset-button {
  margin: 40px;
  padding: 9px 40px 9px 37px;
  background-color: var(--primary);
  border-radius: 5px;
  width: 333px;
  height: 48px;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 29.62px;
  font-family: var(--ff);
  font-weight: var(--fw);
  color: var(--very-dark-gray-cyan);
  cursor: pointer;
}