@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --primary: hsl(172, 67%, 45%);
  --bg: hsla(185, 41%, 84%, 1);
  --very-dark-gray-cyan: hsl(183, 100%, 15%);
  --dark-gray-cyan: hsl(186, 14%, 43%);
  --light-gray-cyan: hsl(184, 14%, 56%);
  --very-light-gray-cyan: hsl(189, 41%, 97%);
  --heading: hsla(180, 25%, 32%, 1);
  --white: hsl(0, 0%, 100%);

  --ff: "Space Mono", monospace;
  --fw: 700;
  --fz: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 798px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  background-color: var(--white);
  width: 100%;
  padding: 24px;
  margin-top: 32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

header {
  background-color: var(--bg);
}

h2, h3 {
  margin-bottom: 6px;
}

form h2 {
  font-family: var(--ff);
  font-size: 1rem;
  line-height: 23.7px;
  color: var(--heading);
}

.content-wrapper > *, .input > *, .output > * {
  margin-bottom: 32px;
}

.number-of-people h3 {
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: 1rem;
  color: var(--heading);
}

.number-of-people .number-of-people-input, .bill-amount-input {
  height: 48px;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: 1rem;
  color: var(--very-dark-gray-cyan);
  background-color: var(--very-light-gray-cyan);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-of-people input, .bill-amount-input input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: right;
  color: var(--very-dark-gray-cyan);
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: 1.5rem;
  width: 200px;
}

.output {
  background-color: var(--very-dark-gray-cyan);
  border-radius: 15px;
  padding: 24px;
  color: white;
}

#reset-button {
  background-color: var(--primary);
  color: var(--very-dark-gray-cyan);
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: var(--ff);
  line-height: 30px;
  width: 100%;
  padding: 10px 0;
  margin: auto 0;
  cursor: pointer;
}